html
{
	scroll-behavior: smooth;
}


body
{
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;

}
nav
{
	background-color: #111;
	color: #fff;
	padding: 20px 50px;
}
.navTop
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search
{
	display: flex;
	align-items: center;
	background-color: gray;
	padding: 10px 20px;
	border-radius: 10px;

}
.searchInput
{
	border: none;
	background-color: transparent;

}
.searchInput::placeholder
{
	color: lightgray;

}
.limitedoffer
{
	font-size: 20px;
	border-bottom: 2px solid green;
	cursor: pointer;
}
.navBottom
{
	display: flex;
	align-items: center;
	justify-content: center;

}
.menuItem
{
	margin-right: 50px;
	cursor: pointer;
	color: lightgray;
	font-weight: 400;
}
.slider
{
	background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
	clip-path: polygon(0 0,100% 0,100% 100%,0 85%);
	overflow: hidden;

}
.sliderwrapper
{
	display: flex;
	width: 500vw;
	transition: all 1.5s ease-in-out;

}
.sliderItem
{
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.slideBg
{
	width: 750px;
	height: 750px;
	border-radius: 50%;
	position: absolute;

}
.sliderImg
{
	z-index: 1;
}
.sliderTitle
{
	position: absolute;
	top: 10%;
	right: 10%;
	color: #fff;
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	z-index: 1;

}
.sliderprice
{
	position: absolute;
	top: 10%;
	left: 10%;
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	border: 1px solid gray;
	text-align: center;
	z-index: 1;


}
.buyButton
{
	position: absolute;
	top: 50%;
	right: 10%;
	color: #fff;
	font-size: 30px;
	font-weight: 900;
	background-color: black;
	border: 1px solid gray;
	z-index: 1;

}

.buyButton:hover
{
	background-color: #fff;
	color: black;
}

.sliderItem:nth-child(1) .slideBg
{
	background-color: #369e62;
}

.sliderItem:nth-child(2) .slideBg
{
	background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .slideBg
{
	background-color: teal;
}

.sliderItem:nth-child(4) .slideBg
{
	background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .slideBg
{
	background-color: rgb(124, 115, 80);
}
.sliderItem:nth-child(1) .sliderprice
{
	background-color: #369e62;
}

.sliderItem:nth-child(2) .slideprice
{
	background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .slideprice
{
	background-color: teal;
}

.sliderItem:nth-child(4) .sliderprice
{
	background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderprice
{
	background-color: rgb(124, 115, 80);
}
.features
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px;
}
.feature
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.featureIcon
{
	width: 50px;
	height: 50px;

}
.featureTitle
{
	font-size: 20px;
	font-weight: 600;
	margin: 20px;
}
.featuredDesc
{
	color: gray;
	width: 50%;
	height: 100px;
}
.product
{
	height: 100vh;
	background-color: whitesmoke;
	position: relative;
	clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
}

.productImg
{
	width: 50%;
}
.productDetails
{
	position: absolute;
	top: 10%;
	right: 0;
	width: 40%;
	padding: 50px;
}
.productTitle
{
	font-size: 75px;
	font-weight: 900;

}

.productDesc
{
	font-size: 24px;
	color: gray;
}
.colors,.sizes
{
	display: flex;
	margin-bottom: 20px;
}
.color
{
	width: 32px;
	height: 32px;
	border-radius: 5px;
	background-color: black;
	margin-right: 10px;
	cursor: pointer;

}
.productButton
{
	float: right;
	padding: 10px 20px;
	background-color: black;
	color: white;
	font-weight: 600;
	cursor: pointer;
}

.color:last-child
{
	background-color: darkblue;

}
.size
{
	padding: 5px 20px;
	border: 1px solid black;
	margin-right: 10px;
	cursor: pointer;
	font-size: 20px;

}
.productButton:hover
{
	background-color: white;
	color: black;
}
.payment
{
	height: 500px;
	width: 500px;
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px 50px;
	display: none;
	flex-direction: column;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.payTitle
{
	font-size: 20px;
	color: lightgray;
}
label
{
	font-size: 14px;
	font-weight: 300;
}
.payInput
{
	padding: 10px;
	margin: 10px 0px;
	border: none;
	border-bottom: 1px solid gray;
}
.payInput::placeholder
{
	color: rgb(163, 163, 163);

}
.cardIcons
{
	display: flex;

}
.cardIcon
{
	margin-right: 10px;
}
.cardinfo
{
	display: flex;
	justify-content: space-between;

}
.sm
{
	width: 30%;

}
.payButton
{
	position: absolute;
	height: 40px;
	bottom: -40px;
	width: 100%;
	left: 0;
	-webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
	background-color: green;
	color: white;
	border: none;
	cursor: pointer;

}
.close
{
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: gray;
	color: white;
	top: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 2px;
}
.gallery
{
	padding: 50px;
	display: flex;

}
.galleryItem
{
	flex: 1;
	padding: 50px;

}
.galleryImg
{
	width: 100%;
}
.newseason
{
	display: flex;
}
.nsItem
{
	flex: 1;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.nsImg
{
	width: 100%;
	height: 500px;
}
.nsTitle
{
	font-size: 40px;
}
.nsButton
{
	padding: 15px;
	font-weight: 600;
	cursor: pointer;
}
footer
{
	display: flex;

}
.footerleft
{
	flex: 2;
	display: flex;
	justify-content: space-between;
	padding: 50px;
}
.fmenuTitle
{
	font-size: 16px;

}
.flist
{
	padding: 0;
	list-style: none;
}
.flistItem
{
	margin-bottom: 10px;
	color: gray;
	cursor: pointer;
}
.footerright
{
	flex: 1;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
.fInput
{
	padding: 5px;
}
.fButton
{
	padding: 5px;
	background-color: black;
	color: white;

}
.fIcons
{
	display: flex;
}
.Icon 
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.copywrite
{
	font-weight: 300;
	font-size: 14px;
}
@media screen and (max-width:480px) {
nav
{
  padding: 20px;
}

.search
{
    display: none;
}

.navBottom
{
    flex-wrap: wrap;
}

.menuItem
{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;

}

.slider
{
    clip-path: none;
}

.sliderImg
{
    width: 90%;
}

.sliderBg
  {
    width: 100%;
    height: 100%;
  }

  .sliderTitle
  {
    display: none;
  }

  .sliderprice
  {
    top: unset;
    bottom: -50;
    left: 0;
    background-color: lightgrey;
  }

  .buyButton
  {
    right: 0;
    top: 0;
  }

  .features
  {
    flex-direction: column;
  }

  .product
  {
    clip-path: none ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImg
  {
    width: 80%;
  }

  .productDetails
  {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle
  {
    font-size: 50px;
    margin: 0;
  }

  .gallery
  {
    display: none;
  }

  .newseason
  {
    flex-direction: column;
  }

  .nsItem:nth-child(2)
  {
    padding: 50px;
  }

  footer
  {
    flex-direction: column;
    align-items: center;
  }

  .footerleft
  {
    padding: 20px;
    width: 90%;
  }

  .footerright
  {
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment
  {
    width: 90%;
    padding: 20px;
  }
}

















